.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  padding-right: 40px;
}

.header-left-content {
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

.header-right-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-title-main {
  font-weight: bold;
  font-size: 50px;
}

.header-title-sub {
  margin-bottom: 5px;
  font-size: 20px;
}

.icon-backend,
.icon-frontend,
.icon-ai,
.icon-aboutme,
.icon-email {
  width: 60px;
  height: 60px;
}
.hamburger {
  display: none;
}

.describe-backend,
.describe-frontend,
.describe-AI,
.describe-aboutme,
.describe-email {
  display: inherit;
  align-items: center;
  margin-left: 10px;
}

.header-icon-describe-box {
  display: inherit;
  margin-left: 60px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-icon-describe-box,
.header-icon-describe-box:link,
.header-icon-describe-box:visited,
.header-icon-describe-box:hover,
.header-icon-describe-box:active {
  color: black;
  text-decoration: none;
}

.header-icon-describe-box {
  transition: background-color 0.3s; /* 배경 색상 변화를 위한 전환 효과 */
  background-color: #ffffff; /* 기본 배경 색상 */
}

.header-icon-describe-box:hover {
  background-color: #f7f7f7; /* 호버 시 배경 색상 */
}

@media (max-width: 1250px) {
  .header-right-content {
    display: none;
  }

  .header-right-content.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 35px;
  }

  .header-icon-describe-box {
    margin-left: 0;
    display: inherit;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .icon-toggle {
    width: 60px;
    height: 60px;
    margin-right: 40px;
  }
  .describe-backend,
  .describe-frontend,
  .describe-AI,
  .describe-aboutme,
  .describe-email {
    margin-left: 0;
    text-align: center; /* 텍스트를 가운데 정렬 */
  }

  .icon-backend,
  .icon-frontend,
  .icon-ai,
  .icon-aboutme,
  .icon-email {
    /* display: none; */
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
}
