.icon-backend {
  width: 60px;
  height: 60px;
}

.icon-frontend {
  width: 60px;
  height: 60px;
}

.icon-ai {
  width: 60px;
  height: 60px;
}

.icon-aboutme {
  width: 60px;
  height: 60px;
}

.icon-email {
  width: 60px;
  height: 60px;
}
